[submodule "osplan/EFI/components/busybox"]
    path = osplan/EFI/components/busybox
	url = https://github.com/mirror/busybox.git
[submodule "osplan/EFI/components/dash"]
    path = osplan/EFI/components/dash
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
[submodule "tcc"]
	path = tcc
	url = https://repo.or.cz/tinycc.git
[submodule "external/musl"]
	path = external/musl
	url = https://github.com/ifduyue/musl.git
